.footer{
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}

li:hover{
    color: #ffbb33;
    cursor: pointer;
    transform: scale(1.1);
}

.item_size{
    font-size: 2em;
}

.costs{
    margin-top: 5em;
    font-weight: bold;
    color: #ffbb33;
}

